html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: #EFF2FC;
  background-color: #2A3050;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

@keyframes jump {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -5px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}